absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alembic
altair
annotated-doc
annotated-types
anyio
APScheduler
asgiref
asttokens
astunparse
async-timeout
asyncpg
attrs
autobahn
Automat
backports.asyncio.runner
bcrypt
beautifulsoup4
blinker
blis
boto3
botocore
branca
build
CacheControl
cachetools
catalogue
catboost
certifi
cffi
channels
charset-normalizer
chromadb
click
cloudpathlib
colorama
coloredlogs
comm
confection
constantly
contourpy
cryptography
curl_cffi
cycler
cymem
daphne
dataclasses-json
ddgs
debugpy
decorator
deepface
Deprecated
deprecation
dill
distro
Django
djangorestframework
dlib-binary
dnspython
duckduckgo_search
durationpy
ecdsa
email-validator
exceptiongroup
executing
faiss-cpu
fastapi
fastapi-cli
fastjsonschema
filelock
fire
firebase-admin
Flask
Flask-Cors>=4.0.1
flatbuffers
folium
fonttools
fpdf
frozendict
frozenlist
fsspec
gast
gdown
gitdb
GitPython
google-adk
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-generativeai
google-pasta
google-resumable-media
googleapis-common-protos
gotrue
graphviz
greenlet
groq
grpcio
grpcio-status
gunicorn
h11
h2
h5py
hf-xet
hpack
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface_hub
humanfriendly
hyperframe
hyperlink
idna
importlib-metadata
importlib_resources
Incremental
iniconfig
intel-openmp
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
keras
kiwisolver
kubernetes
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-protocol
langchain-text-splitters
langcodes
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk
langsmith
language-tool-python
language_data
libclang
lxml
lz4
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mkl
ml-dtypes
mlxtend
mmh3
mpmath
msgpack
mtcnn
multidict
multitasking
murmurhash
mypy_extensions
namex
narwhals
neo4j
nest-asyncio
networkx
nltk
numpy
oauthlib
onnxruntime
openai
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optree
orjson
ormsgpack
overrides
packaging>=23.2,<25
pandas
pandocfilters
parso
passlib
pathlib_abc
pathy
patsy
peewee
pgvector
pillow
platformdirs
plotly
pluggy
postgrest
preshed
primp
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2-binary
pure_eval
pyarrow
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydicom
Pygments
PyJWT
PyMuPDF
PyMuPDFb
pyOpenSSL
pyparsing
pypdf
PyPDF2
pyphen
PyPika
pyproject_hooks
pyreadline3
PySocks
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-jose
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
razorpay
realtime
redis
referencing
regex
requests
requests-oauthlib
requests-toolbelt
retina-face
rfc3339-validator
rfc3986-validator
rich
rich-toolkit
rpds-py
rsa
s3transfer
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
service-identity
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlite-vec
sqlparse
srsly
stack-data
starlette
statsmodels
storage3
streamlit
streamlit-folium
streamlit-lottie
StrEnum
structlog
supabase
supafunc
sympy
tavily-python
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-recommenders
termcolor
textblob
textstat
tf_keras
thinc
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomli
torch
tornado
tqdm
traitlets
transformers
Twisted
txaio
typer
typer-slim
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
ujson
uri-template
uritemplate
urllib3
uuid_utils
uv
uvicorn
validators
wasabi
watchdog
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
xgboost
xxhash
xyzservices
yarl
yfinance
zipp
zope.interface
zstandard
pymongo
xhtml2pdf
 
celery
redis
flower
django-celery-beat
django-celery-results
channels-redis
dj-database-url
gunicorn
uvicorn
whitenoise
