absl-py
altair
astunparse
blis
branca
catalogue
catboost
chromadb
comm
cymem
deepface
dlib-binary
folium
gast
gdown
google-generativeai
google-pasta
googleapis-common-protos
hf-xet
huggingface_hub
ipykernel
ipython
ipywidgets
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
keras
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-protocol
langchain-text-splitters
matplotlib
matplotlib-inline
ml-dtypes
mlxtend
mtcnn
onnxruntime
opencv-python
opentelemetry-exporter-otlp-proto-common
optree
plotly
preshed
retina-face
safetensors
scipy
seaborn
statsmodels
streamlit
streamlit-folium
streamlit-lottie
tbb
tensorboard
tensorboard-data-server
tf_keras
thinc
threadpoolctl
widgetsnbextension
xgboost
